<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")

<body style="background-color:wheat">

  <!-- ======= Header ======= -->
  @Html.Partial("_Header")
  <!-- End Header -->
  @RenderBody()
  <!-- ======= Hero Section ======= -->
  @Html.Partial("_Hero")
  <!-- End Hero Section -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= Gallery Section ======= -->
    @Html.Partial("_Gallery")
    <!-- End Gallery Section -->

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
  @Html.Partial("_Footer")
 <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  
</body>

<!-- Vendor JS Files -->

<!-- Template Main JS File -->
@Html.Partial("_Script")
</html>